<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoItX.Dotnet" version="3.3.14.5" targetFramework="net472" />
  <package id="AWSSDK.Core" version="3.7.5.11" targetFramework="net472" />
  <package id="AWSSDK.DynamoDBv2" version="3.7.2.7" targetFramework="net472" />
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net472" />
  <package id="EPPlus" version="5.8.4" targetFramework="net472" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="2.2.0" targetFramework="net472" />
  <package id="MSTest.TestAdapter" version="2.2.8" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="2.2.8" targetFramework="net472" />
  <package id="NUnit.Console" version="3.13.2" targetFramework="net472" />
  <package id="NUnit.ConsoleRunner" version="3.13.2" targetFramework="net472" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.7.1" targetFramework="net472" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.9.0" targetFramework="net472" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.7.0" targetFramework="net472" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.7" targetFramework="net472" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.9.0" targetFramework="net472" />
  <package id="Selenium.Firefox.WebDriver" version="0.27.0" targetFramework="net472" />
  <package id="Selenium.Mozilla.Firefox.Webdriver" version="0.6.0.1" targetFramework="net472" />
  <package id="Selenium.Support" version="4.1.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="4.1.0" targetFramework="net472" />
  <package id="Selenium.WebDriver.ChromeDriver" version="97.0.4692.7100" targetFramework="net472" />
  <package id="Selenium.WebDriver.MSEdgeDriver" version="96.0.1054.26" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="TrxToHtml.TrxerConsole" version="1.0.0" targetFramework="net472" />
</packages>